.chess_board {
    width: 100%;
    height: 100%;
    display: table;
    border: 2px solid #3c2d21;
    
    -webkit-transition: opacity 300ms;
            transition: opacity 300ms;
    
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.chess_board .rank {
    width: 100%;
    height: 12.5%;
    display: table-row;
}

.chess_board .square {
    width: 12.5%;
    height: 12.5%;
    display: table-cell;
    position: relative;
    cursor: default;
}

.chess_board .square.light {
    background-color: #F0D9B5;
}

.chess_board .square.dark {
    background-color: #B58863;
}

.chess_board .square .notation {
    position: absolute;
    pointer-events: none;
    font-family: arial, sans, sans-serif;
    font-size: 15px;
    z-index: 10;
}

.chess_board .square.light .notation {
    color: #B58863;
}
.chess_board .square.dark .notation {
    color: #F0D9B5;
}

.chess_board .square .letter {
    right: 10%;
    bottom: 4%;
}

.chess_board .square .num {
    left: 6%;
    top: 5%;
}

.chess_board .piece {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer!important;
    -webkit-transition: -webkit-transform 200ms;
            transition: transform 200ms;
}

.chess_board.waiting .piece {
    cursor: default!important;
}


/* See through the pieces to get the square underneath. */
.chess_board.dragging .piece {
    pointer-events: none;
}
/* Since we can see through the piece, we need the squares to have the pointer cursor. */
.chess_board.dragging .square {
    cursor: move!important;
}

.piece.dragging {
    z-index: 2!important;
    
    -webkit-transition: none!important;
            transition: none!important;
}

.chess_board.waiting {
    opacity: .5;
}