.chess_board {
    width: 100%;
    height: 100%;
    display: table;
    border: 2px solid #3c2d21;
    
    -webkit-transition: opacity 300ms;
            transition: opacity 300ms;
    
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.mobile .chess_board {
    -webkit-transition: none;
            transition: none;
}

.chess_board .rank {
    display: table-row;
}

.chess_board .square {
    display: table-cell;
    position: relative;
    cursor: default;
}

.chess_board .square.light {
    background-color: #F0D9B5;
}

.chess_board .square.dark {
    background-color: #B58863;
}

.chess_board .square .notation {
    position: absolute;
    pointer-events: none;
    font-family: arial, sans, sans-serif;
    font-size: 15px;
    z-index: 10;
}

.chess_board .square.light .notation {
    color: #B58863;
}
.chess_board .square.dark .notation {
    color: #F0D9B5;
}

.chess_board .square .letter {
    right: 10%;
    bottom: 4%;
}

.chess_board .square .num {
    left: 6%;
    top: 5%;
}

.chess_board .piece {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer!important;
    image-rendering: -moz-crisp-edges;
    -webkit-transition: all 200ms;
            transition: all 200ms;
}

.mobile .piece {
    -webkit-transition: none;
            transition: none;
}

.chess_board.waiting .piece {
    cursor: default!important;
}


/* See through the pieces to get the square underneath. */
.chess_board.dragging .piece {
    pointer-events: none;
}
/* Since we can see through the piece, we need the squares to have the pointer cursor. */
.chess_board.dragging .square {
    cursor: move!important;
}

.piece.dragging {
    z-index: 2!important;
    
    -webkit-transition: none!important;
            transition: none!important;
}


.chess_board.waiting {
    opacity: .5;
}

.captured {
    opacity: 0;
    pointer-events: none;
}

.board_modular_window {
    position: fixed;
    top: 40%;
    bottom: 40%;
    right: 30%;
    left: 30%;
    background: rgba(100,100,100,.5);
    border-radius: 10px;
    border: 8px solid rgba(0,0,0, 0.4);
    padding: 15px;
    z-index: 9999;
    text-align: center;
}


.promotion_text {
    position: absolute;
    right: 0;
    left: 0;
    top: 3;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    pointer-events: none;
}

.promotion_icon {
    display: inline-block;
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
    width: 25%;
    background-position: center;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: opacity 200ms;
            transition: opacity 200ms;
}

.mobile .promotion_icon {
    -webkit-transition: none;
            transition: none;
}

.promotion_icon:hover {
    background-color: rgba(89, 142, 222, .5);
    opacity: 1;
}
