html, body {
    margin: 0;
}

.chess_board {
    margin: 0 auto;
}

.loading {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 40px;
    font-family: arial, sans, sans-serif;
    opacity: .8;
    pointer-events: none;
}

.hidden {
    display: none;
}

.player {
    position: absolute;
    width: 20%;
    top: 0;
}

.center_el {
    margin: 0 auto;
}

.left_player {
    left: 0;
}

.right_player {
    right: 0;
}

.player {
    position: absolute;
    width: 20%;
    top: 0;
}

.player_white {
    left: 0;
}

.player_black {
    right: 0;
}

.clock {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: impact, sans;
    font-size: 35px;
    border: black 2px solid;
}

.clock_white {
    left: 0;
    background-color: white;
    color: black;
}

.clock_black {
    right: 0;
    background-color: black;
    color: white;
}
